<!DOCTYPE html>
<html>
<head>
    <title>Crime Prediction</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body>
    <div id="title-container">
        <h1 id="main-title">Crime Prediction In Ecuador</h1>
    </div>
    <div id="form-container">
        <form method="POST">
            <div id="form-inputs">
                <label for="province">Province:</label>
                <select id="province" name="province" required>
                    {% for province in provinces %}
                    <option value="{{ province }}">{{ province }}</option>
                    {% endfor %}
                </select>
                <label for="crime">Crime:</label>
                <select id="crime" name="crime" required>
                    {% for crime in crimes %}
                    <option value="{{ crime }}">{{ crime }}</option>
                    {% endfor %}
                </select>
                <label for="year">Year:</label>
                <input type="number" id="year" name="year" min="2023" max="2035" required>
            </div>
            <div id="form-submit">
                <input type="submit" value="Predict">
            </div>
        </form>
    </div>

    {% if data.yearly_averages %}
    <div id="yearly-averages">
        <h3>Yearly Averages:</h3>
        <ul>
            {% for year, average in data.yearly_averages.items() %}
            <li>{{ year }}: {{ '{:.2f}'.format(average) }}</li>
            {% endfor %}
            {% if data.predicted_year_average %}
            <li>{{ data.predicted_year_average_year }}: {{ '{:.2f}'.format(data.predicted_year_average) }}</li>
            {% endif %}
        </ul>
    </div>
    {% endif %}    

    <div class="chart-container" id="line-chart"></div>
    <div class="chart-container" id="scatter-chart"></div>
    <div class="chart-container" id="scatter3d-chart"></div>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        if ('{{ data }}' !== '{}') {
            var data = JSON.parse('{{ data | tojson | safe }}');
            var province = "{{ province }}";
            var crime = "{{ crime }}";

            // Line Chart
            var trace1 = {
                x: data['dates'].slice(0, data['actual'].length),
                y: data['actual'],
                mode: 'lines',
                name: 'Actual'
            };
            var trace2 = {
                x: data['dates'].slice(data['actual'].length),
                y: data['predicted'],
                mode: 'lines',
                name: 'Predicted'
            };
            var layout = {
                title: {
                    text: `Crime Prediction for ${crime} in ${province}`,
                    font: {
                        family: 'Arial, sans-serif',
                        size: 18,
                        color: 'black',
                        weight: 'bold'
                    }
                },
                xaxis: {
                    title: 'Month-Year',
                },
                yaxis: {
                    title: 'Count',
                },
            };
            var config = {responsive: true};
            Plotly.newPlot('line-chart', [trace1, trace2], layout, config);


            // 2D scatter chart
            var scatter_trace_actual = {
                x: data['dates'].slice(0, data['actual'].length),
                y: data['actual'],
                mode: 'markers',
                type: 'scatter',
                name: 'Actual',
                marker: { size: 6 } 
            };
            var scatter_trace_predicted = {
                x: data['dates'].slice(data['actual'].length),
                y: data['predicted'],
                mode: 'markers',
                type: 'scatter',
                name: 'Predicted',
                marker: { size: 6 } 
            };
            var scatter_layout = { 
                title: {
                    text: `Crime Counts Scatter Plot for ${crime} in ${province}`,
                    font: {
                        family: 'Arial, sans-serif',
                        size: 18,
                        color: 'black',
                        weight: 'bold'
                    }
                },
                xaxis: { title: 'Month-Year' }, 
                yaxis: { title: 'Count' },
            };
            Plotly.newPlot('scatter-chart', [scatter_trace_actual, scatter_trace_predicted], scatter_layout, config);

            // 3D scatter chart
            var scatter3d_trace_actual = {
                x: data['x1'],
                y: data['y1'],
                z: data['z1'],
                mode: 'markers',
                type: 'scatter3d',
                name: 'Actual Count',
                marker: { size: 3 } 
            };
            var scatter3d_trace_predicted = {
                x: data['x2'],
                y: data['y2'],
                z: data['predicted'],
                mode: 'markers',
                type: 'scatter3d',
                name: 'Predicted Count',
                marker: { size: 3 } 
            };
            var scatter3d_layout = { 
                title: {
                    text: `Crime Counts 3D Scatter Plot for ${crime} in ${province}`,
                    font: {
                        family: 'Arial, sans-serif',
                        size: 18,
                        color: 'black',
                        weight: 'bold'
                    }
                },
                scene: {
                    xaxis: { title: 'Year' },
                    yaxis: { title: 'Month' },
                    zaxis: { title: 'Count' }
                },
            };
            Plotly.newPlot('scatter3d-chart', [scatter3d_trace_actual, scatter3d_trace_predicted], scatter3d_layout, config);
        }
    </script>
    
    
</body>
</html>
